<div class="drawer drawer-open h-full">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content h-full overflow-auto">
        @defer {
            <app-command-list [commandsList]="sampleCommands"></app-command-list>
        } @loading {
            <app-spinner></app-spinner>
        }
    </div>
    <div class="drawer-side bg-base-200 h-full">
        <div class="w-72 block">
            @defer {
                <app-category-list class="block"></app-category-list>
            } @loading {
                <app-spinner></app-spinner>
            }
        </div>
    </div>
</div>