<div class="drawer drawer-open h-full">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content h-full overflow-auto">
        <div class="size-full flex flex-col">
            <div class="flex gap-2">
                <div class="w-full p-4 flex justify-between items-center bg-base-300 border-l border-base-200">
                    <span class="text-lg">{{selectedCategory()?.name || 'Commands'}}</span>
                    <button class="btn btn-soft btn-primary btn-sm">
                        <span class="material-symbols-outlined">add</span>
                        Create
                    </button>
                </div>
            </div>
            @defer {
                <app-command-list [commandsList]="commandResource.value() || []" class="grow min-h-0! h-[unset]!"
                    [loading]="commandResource.isLoading()"></app-command-list>
            } @loading {
                <app-spinner></app-spinner>
            }
        </div>
    </div>
    <div class="drawer-side bg-base-200 h-full">
        <div class="w-72 block">
            @defer {
                <app-category-list class="block" (categoryChanged)="selectCategory($event)"></app-category-list>
            } @loading {
                <app-spinner></app-spinner>
            }
        </div>
    </div>
</div>