<div class="w-full border-2 border-base-300 shadow-md p-4 flex flex-col gap-3 rounded-2xl hover:shadow-xl">
    <div class="bg-black/50 p-3 rounded-xl">
        <div class="w-full h-full flex gap-2 items-center">
            <span class="shrink-0">></span>
            <span class="shrink line-clamp-1">{{command().command}}</span>
            <button class="ml-auto shrink-0 btn-sm btn btn-square btn-neutral">
                <span class="material-symbols-outlined">content_copy</span>
            </button>
        </div>
    </div>
    @if (command().description) {
        <p>{{command().description}}</p>
    }
</div>