@use "./styles/tailwind.css";
@use "./styles/font.scss";
@import "toastify-js/src/toastify.css";

// Page styles
@import "./styles/pages/login";


body {
    font-family: "Space Mono", monospace;
    font-weight: 400;
}

router-outlet {
    &+* {
        min-height: 0;
        flex-grow: 1;
        width: 100%;
        display: block;
        overflow: auto;
    }
}

:where(.input, .textarea, .select):focus,
:where(.input, .textarea, .select):focus-within {
    outline-offset: -1px !important;
}